@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
html, body {
  font-family: "Cairo", sans-serif;
  margin: 0 0 0 0;
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container>div {
  width: 95%;
  margin: auto;
}

/* Top Information */

.top-information {
  display: flex;
  height: 45px;
  background-color: #f5f5f5;
  color: #000000;
  width: 100%;
}

.top-information>div {
  width: 100%;
}

.top-information>div>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}

.top-information>div>div>div>i {
  padding-right: 0.25rem;
}

.top-information>div>div>div>a {
  color: #000000;
  text-decoration: none;
  padding-right: 0.5rem;
}

/* Header */

.box {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__logo {
  height: 40px;
}

.header__logo>img {
  height: 100%;
}

.header__cart>span {
  padding-right: 0.25rem;
  cursor: pointer;
  font-weight: 600;
}

.nav__link {
  color: #252525;
  font-weight: 700;
  font-size: 16px;
  margin-right: 45px;
  text-decoration: none;
  transition: color 0.4s;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover, .nav__link--active, .header__cart>span:hover, .top-information>div>div>div>a:hover {
  color: #7fad39;
}

/* MAINPAGE */

.mainpage {
  display: flex;
}

/* Side Menu */

.side-menu {
  width: 25%;
  padding-right: 2rem;
}

.dropbtn {
  height: 53px;
  width: 100%;
  background-color: #7fad39;
  color: white;
  padding: 16px;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content>a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*  Main Store Page */

.main-store-page {
  width: 75%;
}

.main-store-page>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-store-page-search {
  width: calc(75% - 50px);
}

.main-store-page-search>form>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-store-page-search-search {
  height: 51px;
  border: 1px solid #7fad39;
  width: 80%;

}

.main-store-page-search-search>span {
  width: 33%;
}

.main-store-page-search-search>span>select {
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.main-store-page-search-search> input {
  padding: 16px;
  width: 58%;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.main-store-page-search-button {
  width: 20%;
}

.main-store-page-search-button>button {
  height: 53px;
  background-color: #7fad39;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

.main-store-page-contact {
  width: 22%;
  display: flex;
  justify-content: space-between;
}

.main-store-page-contact>div {
  display: flex;
  flex-direction: column;
}

.main-store-page-contact>div>i {
  background-color: #f5f5f5;
  color: #7fad39;
  padding: 16px;
  border-radius: 100%;
  border: none;
  outline: none;
}

.main-store-page-contact>div>p {
  font-weight: 700;
  font-size: 1.1rem;
  margin: 0 0 0 0;
  line-height: 150%;
}

.main-store-page-contact>div>span {
  color: #d5d5d5;
  font-size: 0.90rem;
}

/* Main Banner */
.main-banner {
  width: 100%;
  padding-top: 2rem;
}

.main-banner>a>img {
  width: 100%;
}

/* Categories Images */

.categories-images {
  padding-top: 3.75rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categories-images>div {
  width: 22%;
  background-color: #f5f5f5;
}

.categories-images>div>img {
  width: 100%;
}

.categories-images>div>div {
  width: 60%;
  padding-left: 20%;
  padding-bottom: 5%;
}

.categories-images>div>div>button {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
}

/* Featured Products */

.featured-products {
  padding-top: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.featured-products>span {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 80%;
}

.featured-products>hr {
  text-align: center;
  border: 0.11rem solid #7fad39;
  width: 7.5%;
}

.featured-control {
  width: 100%;
}

.featured-control>ul {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-left: 25%;
  justify-content: space-between;
}

.featured-control>ul>li {
  list-style: none;
}

.featured-control>ul>li>button {
  line-height: 50%;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

.featured-control>ul>li>button:hover {
  color: #7fad39;
  /*content:'';
  display:inline-block;
  margin-top: 0%;
  width:60%;
  border-bottom:0.11rem solid #7fad39;*/
}

.featured-control-products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4%;
}

.featured-control-products>div {
  padding-top: 2rem;
  width: 22%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.featured-control-products>div>img {
  width: 100%;
}

.featured-control-products>div>span>a:hover {
  color: #7fad39;
}

.featured-control-products>div>span>a {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}

.featured-control-products>div>div>span {
  font-size: 1.25rem;
  font-weight: 700;
}

/* Double Banner */

.double-banner {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.double-banner>div {
  width: 48%;
}

.double-banner>div>a>img {
  width: 100%;
}

/* Bottom Product Sliders */

.bottom-product-slider {
  padding-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-product-slider>div {
  width: 30%;
}

.bottom-product-slider>div>div {
  display: flex;
  flex-direction: column;
}

.bottom-product-slider-header {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-product-slider-header>span {
  font-size: 1.5rem;
  font-weight: 700;
}

.bottom-product-slider-header>div {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-product-slider-header>div>button {
  width: 100%;
  background-color: #7fad39;
  color: #f5f5f5;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
}

.bottom-product-slider-header>div>button:hover {
  background-color: #f5f5f5;
  color: #7fad39;
}

.bottom-product-slider-products {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bottom-product-slider-products>div {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  width: 80%;
  justify-content: space-between;
}

.bottom-product-slider-products>div>img {
  width: 40%;
}

.bottom-product-slider-products>div>div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.bottom-product-slider-products>div>div>span>a {
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
}

.bottom-product-slider-products>div>div>span {
  font-size: 1.25rem;
  font-weight: 700;
}

/* From The Blog */

.from-the-blog {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.from-the-blog>span {
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 80%;
}

.from-the-blog>hr {
  text-align: center;
  border: 0.11rem solid #7fad39;
  width: 7.5%;
}

.from-the-blog>div {
  padding-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.from-the-blog>div>div {
  width: 30%;
}

.from-the-blog-image {
  width: 100%;
}

.from-the-blog-image>img {
  width: 100%;
}

.from-the-blog-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.from-the-blog-text>ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row-reverse;
}

.from-the-blog-text>ul>li {
  font-size: 0.75rem;
  color: #b2b2b2;
  padding-right: 1rem;
}

.from-the-blog-text>ul>li:first-child {
  padding-right: 0rem;
}

.from-the-blog-text>h5 {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.25rem;
}

.from-the-blog-text>p {
  font-size: 1rem;
  font-family: "Cairo", sans-serif;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 0 0 15px 0;
}

/* Footer */

.footer {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #000000;
  width: 100%;
}

.footer>div {
  width: 100%;
}

.footer-items {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-items>div {
  width: 30%;
}

.footer-item-left {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 100px;
  height: 40px;
}

.footer-item-left>a>img {
  width: 100%;
  height: 100%;
}

.footer-item-left>span {
  font-size: 16px;
  color: #1c1c1c;
  line-height: 36px;
}

.footer-item-center>div {
  display: flex;
  flex-direction: row;
}

.footer-item-center>span {
  padding-bottom: 1.5rem;
  color: #1c1c1c;
  font-weight: 700;
}

.footer-item-center>div>ul {
  padding: 0 0 0 0;
  margin: 0;
  width: 50%;
  list-style: none;
}

.footer-item-center>div>ul>li>a {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 14px;
  line-height: 32px;
}

.footer-item-center>div>ul>li>a:hover {
  color: #7fad39;
}

.footer-item-right {
  display: flex;
  flex-direction: column;
}

.footer-item-right>span {
  padding-bottom: 1.5rem;
  color: #1c1c1c;
  font-weight: 700;
  padding: 0 0 0 0;
}

.footer-item-right>p {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 14px;
  line-height: 32px;
  margin: 0;
}

.footer-item-right>form {
  padding-top: 1rem;
}

.footer-item-right>form>div {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer-item-right-input {
  width: 70%;
}

.footer-item-right>form>div>div>input {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.footer-item-right-button {
  width: 30%;
}

.footer-item-right>form>div>div>button {
  width: 100%;
  background-color: #7fad39;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

.footer-item-right>div {
  padding-top: 2rem;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-item-right>div>a {
  width: 10%;
  text-decoration: none;
}

.footer-item-right>div>a>i {
  background-color: #FFFFFF;
  color: #000000;
  padding: 16px;
  border-radius: 100%;
  border: none;
  outline: none;
}

.facebook-icon {
  padding-right: 18px!important;
  padding-left: 18px!important;
}

.footer-item-right>div>a>i:hover {
  background-color: #7fad39;
  color: #FFFFFF;
}

.footer>div>div>hr {
  margin-top: 2.5rem;
}

.footer-footer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.footer-footer>img {
  margin-top: 14px;
  max-height: 25px;
}