  /* Header */

  .header__cart>span {
      display: none;
  }

  .nav__link {
      font-size: 0.8rem;
      margin-right: 25px;
  }

  /* MAINPAGE */

  .mainpage {
      display: flex;
  }

  /* Side Menu */

  .side-menu {
      display: none;
  }

  /*  Main Store Page */

  .main-store-page {
      width: 100%;
  }

  .main-store-page>div {
      display: flex;
      flex-direction: row;
  }

  .main-store-page-search {
      width: 100%;
  }

  .main-store-page-search-search>span {
      display: none;
  }

  .main-store-page-search-search>input {
      width: 90%;
  }

  .main-store-page-contact {
      display: none;
  }

  /* Categories Images */

  .categories-images {
      display: none;
  }

  /* Featured Products */

  .featured-control>ul {
      width: 100%;
      padding-left: 0%;
  }

  .featured-control>ul>li>button {
      font-size: 0.75rem;
  }

  .featured-control-products>div {
      width: 48%;
  }

  /* Double Banner */

  .double-banner>div {
      width: 100%;
  }

  /* Bottom Product Sliders */

  .bottom-product-slider {
      padding-top: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .bottom-product-slider>div {
      padding-top: 2rem;
      width: 100%;
  }

  #review-products {
      width: 100%;
      display: block;
  }

  /* From The Blog */

  .from-the-blog>div {
      padding-top: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .from-the-blog>div>div {
      padding-top: 2rem;
      width: 100%;
  }

  /* Footer */

  .footer-items {
      width: 100%;
      padding-top: 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .footer-items>div {
      padding-top: 1rem;
      width: 100%;
  }

  .footer-footer {
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  .footer-footer>p {
      text-decoration: none;
      color: #949596;
      font-size: 0.75rem;
      line-height: 32px;
  }

  /* SHOP PAGE */

  .shop-store-product-item {
      width: 47.5%;
  }

  /* BLOG PAGE */

  @media screen and (max-width: 500px) {
      .carousel__snapper>a>h2 {
          font-size: 1.5rem;
      }
      .carousel {
          padding-top: 200px;
      }
      .main-store-page-search-search>input {
          width: 60%;
      }
  }

  .blog-item {
      width: 100%;
      padding-top: 2rem;
  }

  /* SHOP PAGE */

  .shop-store-filter {
      display: none;
  }

  .shop-store-products {
      width: 100%;
  }

  .shop-store-product-item {
      width: 47.5%;
  }

  /* CONTACT PAGE */

  .contact-main-item {
      width: 45%;
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  .contact-form-name, .contact-form-email {
      margin-bottom: 1rem;
      width: 100%;
  }

  .contact-form-button {
      width: 30%;
      height: 50px;
      background-color: #7fad39;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      outline: none;
  }

  /* Product Main */

  .product-image>img {
      height: 400px;
  }

  .product-information {
      width: 100%;
  }

  .product-information-top {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .product-information-name {
      width: 100%;
  }

  .product-information-rating>i {
      padding-top: 0;
  }

  .product-information-middle {
      width: 100%;
      height: 10%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .product-information-amount {
      width: 40%;
      height: 100%;
      background-color: #7fad39;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
  }

  .product-information-addCart {
      width: 50%;
  }

  .product-information-deliveryTime {
      padding-top: 1rem;
      text-align: center;
      width: 100%;
  }

  .product-information-bottom {
      padding-top: 3rem;
  }

  /* Similar Products */

  .similar-products {
      display: none;
  }

  /* Product Comments */

  .comment-item {
      margin: auto;
      width: 100%;
      height: 200px;
  }

  .comment-footer {
      margin-left: 85%;
      margin-right: 10%;
      width: 20%;
  }

  /* Top Products */

  .top-products-products-item {
      width: 48%;
  }