/* Side Menu */

.side-menu {
    width: 30%;
    padding-right: 1rem;
}

/*  Main Store Page */

.main-store-page {
    width: 70%;
}

.main-store-page-search {
    width: 100%;
}

.main-store-page-search-search {
    border: 1px solid #7fad39;
    width: 100%;
}

.main-store-page-search-button {
    display: none;
}

.main-store-page-contact {
    display: none;
}

.main-banner {
    padding-top: 2rem;
}

.main-banner>img {
    width: 100%;
}

/* Featured Products */

.featured-control>ul {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-left: 15%;
    justify-content: space-between;
}

.featured-control-products>div {
    padding-top: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Double Banner */

.double-banner {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: none;
}

.double-banner>div {
    width: 100%;
}

.double-banner>div>a {
    width: 100%;
}

/* Bottom Product Sliders */

#review-products {
    display: none;
}

.bottom-product-slider>div {
    width: 45%;
}

/* Footer */

.footer-item-right>form {
    padding-top: 1rem;
}

.footer-item-right>form>div {
    width: 80%;
    display: flex;
}

.footer-item-right-input {
    width: 100%;
}

.footer-item-right-button {
    display: none;
}

.footer-item-right>div {
    padding-top: 2rem;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SHOP PAGE */

.shop-store {
    flex-direction: column;
    justify-content: none;
}

.shop-store-filter {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.type-filter>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.type-filter>ul>li {
    width: 10%;
}

.shop-store-products {
    width: 100%;
}