/* Side Menu */

.side-menu {
    width: 30%;
    padding-right: 1rem;
}

/*  Main Store Page */

.main-store-page {
    width: 70%;
}

.main-store-page-search {
    width: 100%;
}

.main-store-page-search-search {
    border: 1px solid #7fad39;
    width: 100%;
}

.main-store-page-search-button {
    display: none;
}

.main-store-page-contact {
    display: none;
}

.main-banner {
    padding-top: 2rem;
}

.main-banner>img {
    width: 100%;
}

/* Featured Products */

.featured-control>ul {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-left: 15%;
    justify-content: space-between;
}

.featured-control-products>div {
    padding-top: 2rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Double Banner */

.double-banner {
    padding-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: none;
}

.double-banner>div {
    width: 100%;
}

.double-banner>div>a {
    width: 100%;
}

/* Bottom Product Sliders */

#review-products {
    display: none;
}

.bottom-product-slider>div {
    width: 45%;
}

/* Footer */

.footer-item-right>form {
    padding-top: 1rem;
}

.footer-item-right>form>div {
    width: 80%;
    display: flex;
}

.footer-item-right-input {
    width: 100%;
}

.footer-item-right-button {
    display: none;
}

.footer-item-right>div {
    padding-top: 2rem;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SHOP PAGE */

.shop-store-products {
    width: 100%;
}

/* BLOG PAGE */

.top-blog-articles {
    display: none;
}

ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    display: block;
    position: relative;
    margin-top: 2rem;
    padding-top: 450px;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

.carousel__snapper>a {
    width: 100%;
    text-decoration: none;
    color: #000000;
}

.carousel__snapper>a>img {
    width: 100%;
    height: 100%;
}

.carousel__snapper>a>h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 100%;
    margin-top: -70px;
}

@media screen and (max-width: 768px) {
    .carousel__snapper>a>h2 {
        font-size: 1.75rem;
    }
    .carousel {
        padding-top: 350px;
    }
    .main-store-page-search-search>input {
        width: 60%;
    }
}

.blog-item {
    width: 47.5%;
    padding-top: 2rem;
}

/* SHOP STORE */

.shop-store-filter {
    width: calc(25% - 30px);
}

.shop-store-products {
    width: 75%;
}

.shop-store-product-item {
    width: 47.5%;
}

/* CONTACT PAGE */

.contact-form-button {
    width: 20%;
}

/* PRODUCT PAGE */

@media screen and (max-width: 950px) {
    .product-image {
        width: 100%;
    }
    .product-image>img {
        height: 700px;
    }
    .product-information {
        width: 100%;
    }
    /* Product Comments */
    .comment-item {
        width: 100%;
    }
}